params {
    // Input y output
    input  = "${projectDir}/samplesheet.csv"
    outdir = "${projectDir}/results"

    // Genoma de referencia
    reference      = "${projectDir}/reference/Homo_sapiens_assembly38.fasta"
    reference_fai  = "${projectDir}/reference/Homo_sapiens_assembly38.fasta.fai"
    reference_dict = "${projectDir}/reference/Homo_sapiens_assembly38.dict"
    calling_targets  = "${projectDir}/reference/intervals/agilent_v6_utr/S07604624_hg38/S07604624_Regions.bed"
    coverage_targets = "${projectDir}/reference/intervals/agilent_v6_utr/S07604624_hg38/S07604624_Covered.bed"
    targets = "${projectDir}/reference/intervals/agilent_v6_utr/S07604624_hg38/S07604624_Regions.bed"    

    // Known sites para BQSR
    dbsnp             = "${projectDir}/reference/known_sites/Homo_sapiens_assembly38.dbsnp138.vcf"
    dbsnp_index       = "${projectDir}/reference/known_sites/Homo_sapiens_assembly38.dbsnp138.vcf.idx"

    known_indels       = "${projectDir}/reference/known_sites/Homo_sapiens_assembly38.known_indels.vcf.gz"
    known_indels_index = "${projectDir}/reference/known_sites/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"

    mills_indels       = "${projectDir}/reference/known_sites/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    mills_indels_index = "${projectDir}/reference/known_sites/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"

    // Recursos para análisis somático
    germline_resource       = "${projectDir}/reference/somatic/af-only-gnomad.hg38.vcf.gz"
    germline_resource_index = "${projectDir}/reference/somatic/af-only-gnomad.hg38.vcf.gz.tbi"

    panel_of_normals       = "${projectDir}/reference/somatic/1000g_pon.hg38.vcf.gz"
    panel_of_normals_index = "${projectDir}/reference/somatic/1000g_pon.hg38.vcf.gz.tbi"

    contamination_sites       = "${projectDir}/reference/somatic/small_exac_common_3.hg38.vcf.gz"
    contamination_sites_index = "${projectDir}/reference/somatic/small_exac_common_3.hg38.vcf.gz.tbi"

    // Análisis opcionales
    run_cnv      = false
    run_germline = false
    run_vep      = false

    vep_cache = "${projectDir}/reference/vep_cache"
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: qc {
        conda = "${projectDir}/envs/qc.yml"
    }

    withLabel: alignment {
        conda = "${projectDir}/envs/alignment.yml"
    }

    withLabel: gatk {
        conda = "${projectDir}/envs/gatk.yml"
    }

    withLabel: bcftools {
        conda = "${projectDir}/envs/bcftools.yml"
    }

    withLabel: cnvkit {
        conda = "${projectDir}/envs/cnvkit.yml"
    }

    withLabel: vep {
        conda = "${projectDir}/envs/vep.yml"
    }
}

manifest {
    name = 'WES-tumor-normal-nextflow'
    description = 'Reproducible multi-patient WES tumor-normal analysis with GATK Mutect2'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.04.0'
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.tsv"
    overwrite = true
}

profiles {
    conda {
        conda.enabled = true
    }
}

